/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Feb-2017, 20:51:17
    Author     : hasan
*/

// Body
$body-bg: #f5f5f5;

// color
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$dark-blue: #337ab7; 
$blue: #2aabd2; 
$light-blue: #b9def0;

$white: #fff;
$black: #000;
$light-gray: #eee;
$gray: #ddd;
$dark-gray: #444;

.footer {

    background: $body-bg;
    min-height: 50px;

    .left-side {

        padding: 10px 0px;
        text-align: left;


        ul.list {
            li a {
                color: $dark-blue;
            }

            li a:hover {
                text-decoration: none;
                color: $black;
            }

        }

        .app-copyright {
            color: $blue;
            text-align: left;
            font-size: 0.9em;
        }

        .exetie {
            color: $dark-gray;
            text-align: left;
            font-size: 0.9em;
        }
    }

    .right-side {
        padding: 10px 0px;
        text-align: right;

        .last-app-activity {
            color: $brand-success;
            text-align: right;
            font-size: 0.9em;
        }

        .btn-help {
            margin-top: 5px;
            text-align: right;
        }
    }



    /* Small devices (tablets, 768px and up) */
    @media (max-width: 768px) { 
        .left-side {

            text-align: center;

            .app-copyright {
                text-align: center;
            }

            .exetie {
                text-align: center;
            }



        }

        .right-side {

            text-align: center;

            .last-app-activity {
                text-align: center;
            }

            .btn-help {
                text-align: center;
            }
        }


    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) { 

    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  

    }


}
