
// colors
$white: #fff;
$dark-blue: #337ab7; 
$blue: #2aabd2; 
$light-blue: #b9def0;
$orangered: orangered;
$orange: orange;
$green: green;
$black: #000;


header {
    background: $dark-blue; 
    position: fixed; 
    top: 0; 
    height: 50px; 
    z-index: 100; 
    width: 100%;

    .app-name {
        float: left; 
        width: 230px; 
        border-right: 1px solid darken($blue, 10%); 
        height: 50px; 
        line-height: 50px; 
        margin: 0px; 
        padding: 0px 10px; 
        overflow: hidden; 
        background: $blue; 
        color: $white;

        a {
            color: $white;
            text-decoration: none;
        }

    }

    .app-menu {
        float: left; 
        max-width: 400px; 
        height: 50px; 
        margin: 0px; 
        padding: 0px; 
        margin-left: 15px; 
    }

    .toggle-sidebar-button {
        float: right; 
        width: 53px; 
        height: 50px; 
        margin: 0px; 
        padding: 0px; 

        button {
            float: right; 
            margin: 7px;
        }
    }

    .app-logout-form {
        float: right; 
        width: 53px; 
        height: 50px; 
        margin: 0px; 
        padding: 0px;

        button {
            float: right; 
            margin: 7px;
        }
    }

    .app-notify-nav {
        float: right; 
        max-width: 210px; 
        height: 50px; 
        margin: 0px 15px 0px 0px; 
        padding: 0px; 
    }

    .app-search-form {
        float: right; 
        max-width: 200px; 
        height: 50px; 
        margin: 0px; 
        padding: 0px; 

        form {
            margin: 7px; 
            padding: 0px;
        }
    }




    .top-navbar {
        border-radius: 0px;

        li > a {
            color: $white;
        }

        li > a:hover {
            background: $dark-blue;
            color: $white;
        }


        .open {

            a {
                color: $black;
            }

            a.dropdown-toggle {
                background: $blue;
                color: $white;
            }
        }

        .dropdown-menu {

            li {

                a:hover {
                    background: $dark-blue;
                    color: $white;
                }
            }
        }
    }

    .red-badge {
        background: $orangered; 
        padding: 2px 5px; 
        color: $white; 
        font-size: 0.7em; 
        border-radius: 10px; 
        margin-left: -7px; 
        margin-top: -12px;
    }

    .amber-badge {
        background: $orange; 
        padding: 2px 5px; 
        color: $white; 
        font-size: 0.7em; 
        border-radius: 10px; 
        margin-left: -7px; 
        margin-top: -12px;
    }

    .green-badge {
        background: $green; 
        padding: 2px 5px; 
        color: $white; 
        font-size: 0.7em; 
        border-radius: 10px; 
        margin-left: -7px; 
        margin-top: -12px;
    }


    /* Small devices (tablets, 768px and up) */
    @media (max-width: 768px) { 
        .app-name {
            width: 200px;
            background: $dark-blue;
            border-right: none;
        }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        .app-search-form {
            float: right; 
            max-width: 120px; 
            height: 50px; 
            margin: 0px; 
            padding: 0px; 
        }
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  

    }
}

