/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Feb-2017, 20:51:17
    Author     : hasan
*/

// Body
$body-bg: #f5f5f5;

// color
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$dark-blue: #337ab7; 
$blue: #2aabd2; 
$light-blue: #b9def0;

$white: #fff;
$black: #000;
$light-gray: #eee;
$gray: #ddd;
$dark-gray: #444;


// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;


body {
    background: $body-bg;
    font-family: $font-family-sans-serif;
}

.main {
    background: $white;
    margin-top: 50px;
    margin-left: 230px; 
    min-height: 600px; 

    .heading {
        border-bottom: 1px solid #ddd; 
        margin-bottom: 15px; 
        height: 51px;

        h2.title {
            float: left;
            line-height: 50px; 
            padding: 0px; 
            margin: 0px; 
            font-size: 1.5em; 
            color: $brand-primary;
        }

        .info {
            padding: 5px;
        }
    }

    .dropdown-menu {
        li {

            a:hover {
                background: #2aabd2; 
                color: $white;
            }
        }
    }

    .help-block {
        font-size: 0.8em;
    }
    
    .margin-top-2 {
        margin-top: 2px;
    }
    
    .margin-top-5 {
        margin-top: 5px;
    }
    
    .margin-top-10 {
        margin-top: 10px;
    }
    
    .margin-right-5 {
        margin-right: 5px;
    }
    
    .margin-bottom-5 {
        margin-bottom: 5px;
    }
    
    .margin-bottom-2 {
        margin-bottom: 2px;
    }
    
    
    
    /* input button */ 
    
    .file-upload {
          position: relative;
          overflow: hidden;
          margin: 0px;
      }
      
      .file-upload:hover {
          cursor: pointer;
      }
      .file-upload input.upload {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
      }
      
      .profile-pic {
          max-height: auto; 
          width: 100%;
      }

}

.content {
    min-height: 550px; 
    border-bottom: 1px solid $gray;

    .header {
        float: left;
        width: 100%;
        padding: 0px; 
        margin-bottom: 15px;

        .title {
            float: left; 
            font-size: 1.5em; 
            color: $brand-primary; 
            margin: 0px; 
            margin-right: 15px;
        }

        .links {

        }
    }

    .table {

        thead {
            background: $blue;
            color: $white;
        }

        tfoot {
            background: $light-gray;
            color: $dark-gray;
        }
        
        td.text-middle {
            vertical-align: middle;
        }
    }
    
    h4.section-title {
        border-bottom: 1px solid $gray;
        margin: 0px; 
        padding: 7px 0px; 
        font-weight: bold; 
        margin-bottom: 15px;
    }

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 

    .main {
        margin-left: 0px;
        border-left: none;
        
        .table-responsive {
            padding: 10px 0px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}