
// colors
$white: #fff;
$dark-gray: #666;
$gray: #ddd; 
$light-gray: #f5f5f5;
$dark-blue: #337ab7; 
$blue: #2aabd2; 
$light-blue: #b9def0;
$very-light-blue: #e6f5ff;
$very-very-light-blue: #d9edf7;
$black: #000;


aside {

    position: fixed;
    top: 50px;
    left: 0px;
    width: 230px;
    height: 100%;
    z-index: 1000;
    display: block;
    padding: 0px 0px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: $light-gray;
    border-right: 1px solid $gray;

    .profile {
        height: 51px; 
        margin-bottom: 0px; 
        border-bottom: 1px solid $gray; 
        background: $light-gray;
        .avatar {
            float: left; 
            margin: 5px; 
            width: 40px; 
            height: 40px; 
            border-radius: 20px;
            overflow: hidden;

            img {
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: auto;
            }
        }

        .identity {
            float: left; 
            line-height: none; 
            margin: 5px; 
            vertical-align: middle; 
            font-size: 1.0em; 
            height: 40px; 
            display: block;
            .name {
                color: $black;
            }

            .designation {
                color: $dark-gray; 
                font-size: 0.8em; 
                font-style: italic;
            }
        }

    }

    ul {

        list-style: none;
        margin: 0px;
        padding: 0px; 

        li {
            margin: 0px;
            padding: 0px;

            a {
                display: block;
                overflow: hidden;
                padding: 10px 15px;
                line-height: 15px;
                vertical-align: middle;
                color: $dark-blue;
                text-decoration: none;
                border-bottom: 1px solid $gray;
            }

            a:hover {
                text-decoration: none;
                color: $black;
                background: $light-blue;

            }
            
            a.active {
                        text-decoration: none;
                        color: $black;
                        background: $light-blue;
                        border-left: 5px solid $dark-blue;
                    }

            a:before, a:after, a:active {
                text-decoration: none;
            }

            ul {

                list-style: none;
                margin: 0px;
                padding: 0px;
                background: $very-light-blue;
                display: none;

                li {
                    margin: 0px;
                    padding: 0px;
                    a {

                        display: block;
                        overflow: hidden;
                        padding: 8px 15px;
                        color: $dark-gray;
                        text-decoration: none;
                        border-bottom: 1px solid $very-very-light-blue;

                    }




                    a:hover {
                        background: $light-blue;
                        color: $black;

                    }

                    a.active {
                        text-decoration: none;
                        color: $black;
                        background: $light-blue;
                        border-left: 5px solid $dark-blue;
                    }
                }

            }
        }
    }

    /* all link */
    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }

    /* Small devices (tablets, 768px and up) */
    @media (max-width: 768px) { 
        display: none;
        border-right: none;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) { 

    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  

    }
}









