
$dark-blue: #337ab7; 
$blue: #2aabd2; 
$light-blue: #b9def0;

$white: #fff;
$black: #000;

$light-gray: #eee;
$gray-shed-one: #888;
$gray-shed-two: #999;


body {
    background: $white;
}

.app-login-area {

    img.logo {
        margin-top: 50px;
        min-height: 50px; 
        max-height: 120px; 
        width: auto;
        background: transparent;
        border: none;
    }

    h2.app-name {
        color: $gray-shed-one; 
        font-size: 2.0em; 
        text-align: center; 
        margin: 0px; 
        padding: 15px 0px 0px 0px; 
        clear: both;
    }

    h3.app-login-msg {
        color: $gray-shed-two;
        font-size: 1.5em; 
        text-align: center; 
        margin: 0px; 
        padding: 10px; 
        clear: both;
    }

    .login-box {
        background: $light-gray;
        max-width: 350px; 
        min-height: 125px; 
        border: 1px solid #ddd; 
        border-radius: 5px; 
        margin: 0px auto;
        padding: 25px 35px 5px 35px;
        
        .small-font {
            font-size: 0.9em;
        }
        
        .stay-sign-in {
            color: $dark-blue;
            font-weight: normal;
        }
    }
    
    .exetie {
        .logo {
            margin-top: 25px;
            min-height: 25px; 
            max-height: 50px; 
            width: auto;
            background: transparent;
            border: none;
        }
        
        .moto {
            margin-top: 10px;
            text-align: center;
            color: $gray-shed-two;
            font-size: 0.9em;
        }
    }


    /* Small devices (tablets, 768px and up) */
    @media (max-width: 768px) { 


    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) { 

    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  

    }


}
