/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Mar-2017, 11:53:37
    Author     : hasan
*/


body {
    background: $body-bg;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
}

header {
    background: #33acd9;
}

			html{font-size: 100%}
			body{
				margin:0;
				color: #3D3D3D;
			//	font: normal 81.25%/1.5 'Lato',arial,sans-serif !important;
				min-height: 100%;
			}	

                        header {
                            background: #1bb6ec;
                            
                            .container {
                                padding: 0px;
                            }
                            
                            .navbar-default {
                                background: #1bb6ec;
                            margin: 0px; 
                            border-radius: 0px; 
                            box-shadow: none; 
                            border: none;
                            }
                            
                            
                            #main-navbar {
                                border-radius: 0px;
                                
                                li {
                                    a {
                                     color: #000;
                                }
                                } 
                                
                                .open {
                                    a.dropdown-toggle {
                                         background: #2980b9;
                            color: #fff;
                                    }
                                }
                                
                                .dropdown-menu {
                                    
                                    li {
                                        
                                    a:hover {
                                        background: #2980b9;
                            color: #fff;
                                    }
                                    }
                                }
                            }
                        }
                        
                        
                        
                        
                        
                        
                       
                            
                        
                        
                        
